<h2>New Celebrity</h2>

<form method="POST" action="/celebrities/new-celebrity" style="display: flex; flex-direction: column; align-items: center;">
  <label>
    Name:
    <input name="name">
  </label>
  <label>
    Occupation:
    <input name="occupation">
  </label>
  <label>
    Catchphrase:
    <input name="catchphrase">
  </label>
  <button type="submit">
    Create Celebrity
  </button>
</form>