<h1>New Celebrity</h1>

<form method="POST" action="/celebrities/new-celebrity" style="display: flex; flex-direction: column; align-items: center;">

  <label>Name: <input name="name"></label>
  <label>Occupation: <input name="ingredients"></label>
  <label>Catchphrase: <input type="number" name="duration"></label>

  <button type="submit">Create Celebrity</button>
</form>